<%= form_for :item, url: items_path, html: {class: "newItemForm"} do |f| %>
  <p>
    <%= f.label :task %><br>
    <%= f.text_field :task, id: 'inputField' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>